USE [master]
GO
/****** Object:  Database [Hostel]    Script Date: 8/31/2025 11:54:43 AM ******/
CREATE DATABASE [Hostel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hostel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Hostel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hostel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Hostel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hostel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hostel]
GO
/****** Object:  Table [dbo].[tbHostel]    Script Date: 8/31/2025 11:54:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbHostel](
	[hid] [int] NOT NULL,
	[hname] [varchar](50) NOT NULL,
	[capacity] [int] NOT NULL,
	[occupied] [int] NOT NULL,
	[type] [varchar](10) NOT NULL,
	[status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbHostel] PRIMARY KEY CLUSTERED 
(
	[hid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbUser]    Script Date: 8/31/2025 11:54:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbUser](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[role] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbUser] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbHostel] ([hid], [hname], [capacity], [occupied], [type], [status]) VALUES (1, N'Dagon', 90, 30, N'boy', N'Available')
INSERT [dbo].[tbHostel] ([hid], [hname], [capacity], [occupied], [type], [status]) VALUES (2, N'Yankin', 90, 47, N'boy', N'Available')
INSERT [dbo].[tbHostel] ([hid], [hname], [capacity], [occupied], [type], [status]) VALUES (3, N'Oakkalappa', 90, 20, N'boy', N'Available')
GO
SET IDENTITY_INSERT [dbo].[tbUser] ON 

INSERT [dbo].[tbUser] ([id], [username], [password], [name], [role]) VALUES (0, N'admin', N'1111', N'Admin', N'admin')
INSERT [dbo].[tbUser] ([id], [username], [password], [name], [role]) VALUES (1, N'aung123', N'1234', N'Mg Aung Aung', N'Student')
INSERT [dbo].[tbUser] ([id], [username], [password], [name], [role]) VALUES (2, N'ko123', N'1234', N'Mg Ko Ko', N'Student')
SET IDENTITY_INSERT [dbo].[tbUser] OFF
GO
USE [master]
GO
