USE [master]
GO
/****** Object:  Database [Hostel]    Script Date: 11/13/2025 7:14:36 AM ******/
CREATE DATABASE [Hostel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hostel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Hostel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hostel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Hostel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hostel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hostel]
GO
/****** Object:  Table [dbo].[tbCherryRm]    Script Date: 11/13/2025 7:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCherryRm](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[roomNo] [varchar](10) NOT NULL,
	[capacity] [int] NOT NULL,
	[occupied] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbDagonRm]    Script Date: 11/13/2025 7:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbDagonRm](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[roomNo] [varchar](10) NOT NULL,
	[capacity] [int] NOT NULL,
	[occupied] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbDagonRm] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbFee]    Script Date: 11/13/2025 7:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbFee](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sid] [int] NOT NULL,
	[hostel] [varchar](50) NOT NULL,
	[roomNo] [varchar](10) NOT NULL,
	[feeStatus] [varchar](20) NULL,
 CONSTRAINT [PK_tbFee] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbForm]    Script Date: 11/13/2025 7:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbForm](
	[aid] [int] IDENTITY(1,1) NOT NULL,
	[sid] [int] NOT NULL,
	[rollno] [varchar](50) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[phno] [varchar](50) NOT NULL,
	[major] [varchar](50) NOT NULL,
	[address] [varchar](50) NOT NULL,
	[fname] [varchar](50) NOT NULL,
	[fphno] [varchar](50) NOT NULL,
	[faddress] [varchar](50) NOT NULL,
	[hostel] [varchar](50) NOT NULL,
	[status] [varchar](50) NOT NULL,
	[alhostel] [varchar](50) NULL,
	[acstatus] [varchar](50) NULL,
 CONSTRAINT [PK_tbForm] PRIMARY KEY CLUSTERED 
(
	[aid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbGankGawRm]    Script Date: 11/13/2025 7:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbGankGawRm](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[roomNo] [varchar](10) NOT NULL,
	[capacity] [int] NOT NULL,
	[occupied] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbHostel]    Script Date: 11/13/2025 7:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbHostel](
	[hid] [int] NOT NULL,
	[hname] [varchar](50) NOT NULL,
	[capacity] [int] NOT NULL,
	[occupied] [int] NOT NULL,
	[type] [varchar](10) NOT NULL,
	[status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbHostel] PRIMARY KEY CLUSTERED 
(
	[hid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbNguwaRm]    Script Date: 11/13/2025 7:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbNguwaRm](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[roomNo] [varchar](10) NOT NULL,
	[capacity] [int] NOT NULL,
	[occupied] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbOakkalapaRm]    Script Date: 11/13/2025 7:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbOakkalapaRm](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[roomNo] [varchar](10) NOT NULL,
	[capacity] [int] NOT NULL,
	[occupied] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbPadaukRm]    Script Date: 11/13/2025 7:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPadaukRm](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[roomNo] [varchar](10) NOT NULL,
	[capacity] [int] NOT NULL,
	[occupied] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbShwePyiTharRm]    Script Date: 11/13/2025 7:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbShwePyiTharRm](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[roomNo] [varchar](10) NOT NULL,
	[capacity] [int] NOT NULL,
	[occupied] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbSwalTawRm]    Script Date: 11/13/2025 7:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbSwalTawRm](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[roomNo] [varchar](10) NOT NULL,
	[capacity] [int] NOT NULL,
	[occupied] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbUser]    Script Date: 11/13/2025 7:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbUser](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[role] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbUser] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbYankinRm]    Script Date: 11/13/2025 7:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbYankinRm](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[roomNo] [varchar](10) NOT NULL,
	[capacity] [int] NOT NULL,
	[occupied] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbZeZaWarRm]    Script Date: 11/13/2025 7:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbZeZaWarRm](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[roomNo] [varchar](10) NOT NULL,
	[capacity] [int] NOT NULL,
	[occupied] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbCherryRm] ON 

INSERT [dbo].[tbCherryRm] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (1, N'R001', 2, 2, N'Unavailable')
INSERT [dbo].[tbCherryRm] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (2, N'R002', 2, 0, N'Available')
INSERT [dbo].[tbCherryRm] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (3, N'R003', 2, 0, N'Available')
SET IDENTITY_INSERT [dbo].[tbCherryRm] OFF
GO
SET IDENTITY_INSERT [dbo].[tbDagonRm] ON 

INSERT [dbo].[tbDagonRm] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (1, N'R001', 2, 1, N'Available')
INSERT [dbo].[tbDagonRm] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (2, N'R002', 2, 1, N'Available')
INSERT [dbo].[tbDagonRm] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (3, N'R003', 2, 0, N'Available')
SET IDENTITY_INSERT [dbo].[tbDagonRm] OFF
GO
SET IDENTITY_INSERT [dbo].[tbFee] ON 

INSERT [dbo].[tbFee] ([id], [sid], [hostel], [roomNo], [feeStatus]) VALUES (1, 3, N'Cherry', N'R001', N'Paid')
INSERT [dbo].[tbFee] ([id], [sid], [hostel], [roomNo], [feeStatus]) VALUES (2, 4, N'Cherry', N'R001', N'Pending')
INSERT [dbo].[tbFee] ([id], [sid], [hostel], [roomNo], [feeStatus]) VALUES (3, 8, N'Dagon', N'R001', N'Pending')
SET IDENTITY_INSERT [dbo].[tbFee] OFF
GO
SET IDENTITY_INSERT [dbo].[tbForm] ON 

INSERT [dbo].[tbForm] ([aid], [sid], [rollno], [name], [phno], [major], [address], [fname], [fphno], [faddress], [hostel], [status], [alhostel], [acstatus]) VALUES (1, 2, N'3CS-5', N'Mg Ko Ko', N'09383783838', N'Computer Science', N'Yangon', N'U Ba', N'093783838', N'Yangon', N'Yankin', N'Approved', N'Yankin', N'Pending')
INSERT [dbo].[tbForm] ([aid], [sid], [rollno], [name], [phno], [major], [address], [fname], [fphno], [faddress], [hostel], [status], [alhostel], [acstatus]) VALUES (2, 1, N'3CS-1 ', N'Mg Aung Aung', N'098383838', N'Computer Science', N'Mandalay', N'U Htun', N'093738138', N'Mandalay', N'Dagon', N'Approved', N'Dagon', N'Approved')
INSERT [dbo].[tbForm] ([aid], [sid], [rollno], [name], [phno], [major], [address], [fname], [fphno], [faddress], [hostel], [status], [alhostel], [acstatus]) VALUES (3, 3, N'1CS-7', N'Ma May Lay', N'093732827', N'ComputerScience', N'Bago', N'U Tin', N'09829239', N'Bago', N'None', N'Approved', N'Cherry', N'Approved')
SET IDENTITY_INSERT [dbo].[tbForm] OFF
GO
SET IDENTITY_INSERT [dbo].[tbGankGawRm] ON 

INSERT [dbo].[tbGankGawRm] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (1, N'R001', 2, 0, N'Available')
INSERT [dbo].[tbGankGawRm] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (2, N'R002', 2, 0, N'Available')
INSERT [dbo].[tbGankGawRm] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (3, N'R003', 2, 0, N'Available')
SET IDENTITY_INSERT [dbo].[tbGankGawRm] OFF
GO
INSERT [dbo].[tbHostel] ([hid], [hname], [capacity], [occupied], [type], [status]) VALUES (1, N'Dagon', 90, 30, N'Male', N'Available')
INSERT [dbo].[tbHostel] ([hid], [hname], [capacity], [occupied], [type], [status]) VALUES (2, N'Yankin', 90, 47, N'Male', N'Available')
INSERT [dbo].[tbHostel] ([hid], [hname], [capacity], [occupied], [type], [status]) VALUES (3, N'Oakkalappa', 90, 20, N'Male', N'Available')
GO
SET IDENTITY_INSERT [dbo].[tbNguwaRm] ON 

INSERT [dbo].[tbNguwaRm] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (1, N'R001', 2, 0, N'Available')
INSERT [dbo].[tbNguwaRm] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (2, N'R002', 2, 0, N'Available')
INSERT [dbo].[tbNguwaRm] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (3, N'R003', 2, 0, N'Available')
SET IDENTITY_INSERT [dbo].[tbNguwaRm] OFF
GO
SET IDENTITY_INSERT [dbo].[tbOakkalapaRm] ON 

INSERT [dbo].[tbOakkalapaRm] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (1, N'R001', 2, 0, N'Available')
INSERT [dbo].[tbOakkalapaRm] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (2, N'R002', 2, 0, N'Available')
INSERT [dbo].[tbOakkalapaRm] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (3, N'R003', 2, 0, N'Available')
SET IDENTITY_INSERT [dbo].[tbOakkalapaRm] OFF
GO
SET IDENTITY_INSERT [dbo].[tbPadaukRm] ON 

INSERT [dbo].[tbPadaukRm] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (1, N'R001', 2, 0, N'Available')
INSERT [dbo].[tbPadaukRm] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (2, N'R002', 2, 0, N'Available')
INSERT [dbo].[tbPadaukRm] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (3, N'R003', 2, 0, N'Available')
SET IDENTITY_INSERT [dbo].[tbPadaukRm] OFF
GO
SET IDENTITY_INSERT [dbo].[tbShwePyiTharRm] ON 

INSERT [dbo].[tbShwePyiTharRm] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (1, N'R001', 2, 0, N'Available')
INSERT [dbo].[tbShwePyiTharRm] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (2, N'R002', 2, 0, N'Available')
INSERT [dbo].[tbShwePyiTharRm] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (3, N'R003', 2, 0, N'Available')
SET IDENTITY_INSERT [dbo].[tbShwePyiTharRm] OFF
GO
SET IDENTITY_INSERT [dbo].[tbSwalTawRm] ON 

INSERT [dbo].[tbSwalTawRm] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (1, N'R001', 2, 0, N'Available')
INSERT [dbo].[tbSwalTawRm] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (2, N'R002', 2, 0, N'Available')
INSERT [dbo].[tbSwalTawRm] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (3, N'R003', 2, 0, N'Available')
SET IDENTITY_INSERT [dbo].[tbSwalTawRm] OFF
GO
SET IDENTITY_INSERT [dbo].[tbUser] ON 

INSERT [dbo].[tbUser] ([id], [username], [password], [name], [role]) VALUES (0, N'admin', N'1111', N'Admin', N'Admin')
INSERT [dbo].[tbUser] ([id], [username], [password], [name], [role]) VALUES (1, N'aung123', N'1234', N'Mg Aung Aung', N'Student')
INSERT [dbo].[tbUser] ([id], [username], [password], [name], [role]) VALUES (2, N'ko123', N'1234', N'Mg Ko Ko', N'Student')
SET IDENTITY_INSERT [dbo].[tbUser] OFF
GO
SET IDENTITY_INSERT [dbo].[tbYankinRm] ON 

INSERT [dbo].[tbYankinRm] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (1, N'R001', 2, 0, N'Available')
INSERT [dbo].[tbYankinRm] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (2, N'R002', 2, 0, N'Available')
INSERT [dbo].[tbYankinRm] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (3, N'R003', 2, 0, N'Available')
SET IDENTITY_INSERT [dbo].[tbYankinRm] OFF
GO
SET IDENTITY_INSERT [dbo].[tbZeZaWarRm] ON 

INSERT [dbo].[tbZeZaWarRm] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (1, N'R001', 2, 0, N'Available')
INSERT [dbo].[tbZeZaWarRm] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (2, N'R002', 2, 0, N'Available')
INSERT [dbo].[tbZeZaWarRm] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (3, N'R003', 2, 0, N'Available')
SET IDENTITY_INSERT [dbo].[tbZeZaWarRm] OFF
GO
ALTER TABLE [dbo].[tbForm] ADD  CONSTRAINT [DF_tbForm_status]  DEFAULT ('Pending') FOR [status]
GO
USE [master]
GO
